/*********************
       VARIABLES 
*********************/
:root {
  --primary-color: #444;
  --secondary-color: coral;
  --max-width: 1100px;
}
/*********************
     RESET
*********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*********************
 MAIN STYLING
*********************/
html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.btn {
  display: inline-block;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
  background: var(--secondary-color);
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}
